<article>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ data.name }}</mat-card-title>
        </mat-card-header>
        <image-container [imageUrlId]="data.iconUrl"></image-container>
        <mat-card-content>
            <div class="dataWrapper">
                <div>{{ "ITEM.TYPE" | translate }}:</div>
                <div>{{ data.type | titlecase }}</div>
            </div>
            <div class="dataWrapper">
                <div>{{ "ITEM.EXTERIOR" | translate }}:</div>
                <div>{{ data.exterior | titlecase }}</div>
            </div>
            <div class="dataWrapper">
                <div>{{ "ITEM.RARITY" | translate }}:</div>
                <div [textColor]="'#' + data.rarityColor">{{ data.rarity | titlecase }}</div>
            </div>
            <mat-divider class="itemDivider"></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <div class="buttons">
                <button
                    mat-raised-button
                    color="primary"
                    *ngIf="showBuyButton && isLoggedIn()"
                    (click)="buyButtonClickedHandler()">
                    {{ "BUY" | translate | uppercase }}
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    *ngIf="showSellButton"
                    (click)="sellButtonClickedHandler()">
                    {{ "SELL" | translate | uppercase }}
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    *ngIf="showOpenButton && data.openable"
                    (click)="openButtonClickedHandler()">
                    {{ "OPEN" | translate | uppercase }}
                </button>
            </div>
            <div class="price" [textColor]="'var(--cash)'">{{ data.price | currency }}</div>
        </mat-card-actions>
    </mat-card>
    <div class="background"></div>
</article>