<article>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ data.name }}</mat-card-title>
        </mat-card-header>
        <div class="imageWrapper">
            <img src="{{ imageUrl }}"/>
        </div>
        <mat-card-content>
            <div class="dataWrapper">
                <div>Type:</div>
                <div>{{ checkIfEmpty(data.type) }}</div>
            </div>
            <div class="dataWrapper">
                <div>Exterior:</div>
                <div>{{ checkIfEmpty(data.exterior) }}</div>
            </div>
            <div class="dataWrapper">
                <div>Rarity:</div>
                <div [textColor]="'#' + data.rarityColor">{{ checkIfEmpty(data.rarity) }}</div>
            </div>
            <mat-divider class="itemDivider"></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <div class="buttons">
                <button
                    mat-raised-button
                    color="primary"
                    *ngIf="showBuyButton"
                    (click)="buyButtonClickedHandler()">
                    BUY
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    *ngIf="showSellButton"
                    (click)="sellButtonClickedHandler()">
                    SELL
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    *ngIf="showOpenButton && data.openable"
                    (click)="openButtonClickedHandler()">
                    OPEN
                </button>
            </div>
            <div class="price" [textColor]="'var(--cash)'">{{ data.price | currency }}</div>
        </mat-card-actions>
    </mat-card>
    <div class="background"></div>
</article>