<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>{{ "ITEM_LIST_FILTERS.TITLE" | translate }}</mat-panel-title>
        <mat-panel-description>{{ "ITEM_LIST_FILTERS.DESCRIPTION" | translate }}</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <section class="formFields" [formGroup]="filtersForm" (keyup.enter)="applyFilters()">
        <div class="filters">
            <ng-container *ngFor="let filter of propertiesToFilter">
                <ng-container *ngIf="filter.select; else other">
                    <mat-form-field appearance="outline" class="selectFormField">
                        <mat-label>{{ "ITEM." + filter.property | uppercase | translate }}</mat-label>
                        <mat-select [formControlName]="filter.property">
                            <ng-container *ngFor="let option of filter.options">
                                <mat-option [value]="option.value">{{ option.label | uppercase | translate }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-template #other>
                    <autocomplete-form-field
                        [formFieldControl]="getFormControl(filter.property)"
                        [acProperty]="filter.property"
                        [label]="'ITEM.' + filter.property | uppercase"
                        [placeholder]="'ITEM.' + filter.property | uppercase">
                    </autocomplete-form-field>
                </ng-template>
            </ng-container>
        </div>
        <div class="sorting">
            <mat-form-field appearance="outline">
                <mat-label>{{ "ITEM_LIST_FILTERS.SORT_BY" | translate }}</mat-label>
                <mat-select formControlName="sortingOption">
                    <ng-container *ngFor="let option of sortingOptions">
                        <mat-option [value]="option.value">{{ option.label | uppercase | translate }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <mat-divider></mat-divider>
    <section class="actions">
        <button mat-raised-button (click)="clearAllFilters()">{{ "ITEM_LIST_FILTERS.CLEAR" | translate }}</button>
        <button mat-raised-button color="primary" (click)="applyFilters()">{{ "ITEM_LIST_FILTERS.APPLY" | translate }}</button>
    </section>
</mat-expansion-panel>
