:host mat-divider {
    margin-bottom: 15px;
}

:host ::ng-deep mat-expansion-panel {
    border-radius: 0px;
}

.formFields {
    display: flex;
    justify-content: space-between;

    mat-form-field, autocomplete-form-field {
        margin: 10px;
    }

    .filters {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.actions {
    display: flex;    
    justify-content: flex-end;

    button:first-of-type {
        margin-right: 15px;
    }
}

.selectFormField {
    width: 225px;
}

@media (max-width: 530px) {
    .formFields {
        flex-direction: column;

        mat-form-field, autocomplete-form-field {
            width: 95% !important;
            margin: 0;
        }
    }
}

@media (max-height: 750px) {
    .formFields {
        max-height: 310px;
        overflow: auto;

        mat-form-field, autocomplete-form-field {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 11px;
        }
    }
}