mat-icon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

mat-icon:hover {
    background-color: var(--app-background-primary);
}

.hideCloseIcon {
    opacity: 0;
    pointer-events: none;
}

.formFields {
    display: flex;
    justify-content: space-between;

    mat-form-field {
        margin: 10px;
    }

    .filters {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.actions {
    display: flex;    
    justify-content: flex-end;

    button:first-of-type {
        margin-right: 15px;
    }
}