<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Filter/Sort</mat-panel-title>
        <mat-panel-description>Click to see filters and sorting</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <section class="formFields" [formGroup]="filtersForm" (keyup.enter)="applyFilters()">
        <div class="filters">
            <ng-container *ngFor="let filter of propertiesToFilter">
                <mat-form-field appearance="outline">
                    <mat-label>{{ filter.property | titlecase}}</mat-label>
                    <input matInput
                        formControlName="{{ filter.property }}"
                        placeholder="{{ filter.property | titlecase }}">
                    <mat-icon matSuffix
                        [class.hideCloseIcon]="!filtersForm.value[filter.property]"
                        (click)="clearSingleFilter(filter.property)">
                        close
                    </mat-icon>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="sorting">
            <mat-form-field appearance="outline">
                <mat-label>Sort by</mat-label>
                <mat-select formControlName="sortingOption">
                    <mat-option value="" selected>None</mat-option>
                    <ng-container *ngFor="let option of sortingOptions">
                        <mat-option value="{{ option }}">{{ option }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <mat-divider></mat-divider>
    <section class="actions">
        <button mat-raised-button (click)="clearAllFilters()">Clear</button>
        <button mat-raised-button (click)="applyFilters()">Apply</button>
    </section>
</mat-expansion-panel>
