<nav mat-tab-nav-bar>
    <div>
        <a mat-tab-link
            *ngFor="let link of links"
            (click)="clickLinkHandler(link)"
            [active]="isActive(link)">
            {{ link }}
        </a>
    </div>
    
    <div class="actionButtonsWrapper">
        <mat-card class="cashCard" textColor *ngIf="isLoggedIn()">Cash: {{ loggedInUserData?.cash | currency}}</mat-card>
        <button mat-raised-button *ngIf="!isLoggedIn()" (click)="loginButtonHandler()">Login</button>
        <button mat-raised-button *ngIf="!isLoggedIn()" (click)="registerButtonHandler()">Register</button>
        <button mat-raised-button *ngIf="isLoggedIn()" (click)="logoutButtonHandler()">Logout</button>
    </div>
</nav>
