<nav mat-tab-nav-bar>
    <div class="linksWrapper">
        <ng-container *ngFor="let link of links">
            <a mat-tab-link
                *ngIf="showLink(link.mustBeLoggedIn)"   
                (click)="clickLinkHandler(link.url)"
                [active]="isActive(link.url)">
                {{ link.linkName }}
            </a>
        </ng-container>
    </div>
    <mat-divider class="navbarDivider"></mat-divider>
    <div class="actionButtonsWrapper">
        <!-- <mat-card class="cashCard" textColor *ngIf="isLoggedIn()">Cash: {{ loggedInUserData?.cash | currency}}</mat-card> -->
        <snake-border-card
            *ngIf="isLoggedIn()"
            [@cashChanged]="loggedInUserData?.cash"
            [themeColor]="'var(--cash)'">
            <div class="iconWrapper">
                <mat-icon>attach_money</mat-icon>
                <mat-divider [vertical]="true"></mat-divider>
            </div>
            <div class="cashWrapper">{{ loggedInUserData?.cash | currency: "" : "" }}</div>
        </snake-border-card>
        <button mat-stroked-button color="primary" *ngIf="!isLoggedIn()" (click)="loginButtonHandler()">Login</button>
        <button mat-raised-button color="primary" *ngIf="!isLoggedIn()" (click)="registerButtonHandler()">Register</button>
        <button mat-stroked-button class="userButton"
            *ngIf="isLoggedIn()"
            [matMenuTriggerFor]="userMenu"
            (menuOpened)="menuEventHandler(true)"
            (menuClosed)="menuEventHandler(false)">
            {{ loggedInUserData?.username }}
            <mat-icon [@menuOpened]="isMenuOpened ? 'opened' : 'closed'">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu class="userMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            <mat-divider class="userMenuDivider"></mat-divider>
            <button mat-menu-item (click)="logoutButtonHandler()">
                <mat-icon>logout</mat-icon>
                <span>Log Out</span>
            </button>
        </mat-menu>
    </div>
</nav>
