nav {
    margin-bottom: 15px;
}

.actionButtonsWrapper {
    display: flex;
    justify-content: space-between;

    > * {
        margin-right: 10px;
    }

    .cashCard {
        padding: 8px;
    }
}

:host nav ::ng-deep {

    .mat-tab-links {
        justify-content: space-between;
        align-items: center;
    }

    .mat-ink-bar {
        -webkit-box-shadow: 0px 0px 20px 1px var(--app-primary);
        -moz-box-shadow: 0px 0px 20px 1px var(--app-primary);
        box-shadow: 0px 0px 20px 1px var(--app-primary);
    }

    snake-border-card mat-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;

        .cashWrapper {
            padding-left: 16px;
        }

        mat-divider {
            height: 24px;
            margin-left: 6px;
        }
    }
}

@media (max-width: 750px) {
    :host nav ::ng-deep .mat-tab-links {
        flex-direction: column-reverse;
    }

    .linksWrapper {
        width: 100%;
        display: flex;

        a {
            width: 100%;
        }
    }

    .actionButtonsWrapper {
        width: 100%;
        margin-top: 3px;

        button, snake-border-card {
            width: 100%;
        }

        button:last-of-type {
            margin-right: 0;
        }
    }

    mat-divider {
        width: 100%;
        margin: 15px 0 0 0;
    }
}