<nav mat-tab-nav-bar>
    <div>
        <ng-container *ngFor="let link of links">
            <a mat-tab-link
                *ngIf="showLink(link.mustBeLoggedIn)"   
                (click)="clickLinkHandler(link.url)"
                [active]="isActive(link.url)">
                {{ link.linkName }}
            </a>
        </ng-container>
    </div>
    
    <div class="actionButtonsWrapper">
        <!-- <mat-card class="cashCard" textColor *ngIf="isLoggedIn()">Cash: {{ loggedInUserData?.cash | currency}}</mat-card> -->
        <snake-border-card [@cashChanged]="loggedInUserData?.cash" [themeColor]="'var(--cash)'" *ngIf="isLoggedIn()">{{ loggedInUserData?.cash | currency}}</snake-border-card>
        <button mat-stroked-button color="primary" *ngIf="!isLoggedIn()" (click)="loginButtonHandler()">Login</button>
        <button mat-raised-button color="primary" *ngIf="!isLoggedIn()" (click)="registerButtonHandler()">Register</button>
        <button mat-raised-button *ngIf="isLoggedIn()" (click)="logoutButtonHandler()">Logout</button>
    </div>
</nav>
