<div class="lastOpenedItemsListWrapper" [@sideMenuToggle]="sideMenuOpened ? 'opened' : 'closed'">
    <div class="lastOpenedItemsList">
        <h1>{{ "LAST_OPENED" | translate }}</h1>
        <ng-container *ngIf="lastOpenedItems.length > 0">
            <last-opened-item
                *ngFor="let item of lastOpenedItems"
                [item]="item"
                @itemEnterLeave
                [@.disabled]="disableAnimations">
            </last-opened-item>
        </ng-container>
        <mat-spinner *ngIf="lastOpenedItems.length === 0"></mat-spinner>
    </div>
</div>
<div class="toggleButton" (click)="toggleButtonClickedHandler()">
    <mat-icon [@sideMenuToggle]="sideMenuOpened ? 'toggleButtonOpened' : 'toggleButtonClosed'">arrow_right</mat-icon>
    <mat-icon [@sideMenuToggle]="sideMenuOpened ? 'toggleButtonOpened' : 'toggleButtonClosed'">arrow_right</mat-icon>
    <mat-icon [@sideMenuToggle]="sideMenuOpened ? 'toggleButtonOpened' : 'toggleButtonClosed'">arrow_right</mat-icon>
</div>