:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-primary);
}

.navbar {
    border: 1px solid red;
    height: 50px;
}

.content {
    border: 1px solid blue;
}