<h1 mat-dialog-title>{{ "SHOW_DRAWN_ITEM_DIALOG.CONGRATULATIONS" | translate }}!</h1>
<div mat-dialog-content class="matDialogContent">
    <p>{{ "SHOW_DRAWN_ITEM_DIALOG.RECEIVED" | translate }}!</p>
    <snake-border-card [themeColor]="'#' + data.itemData.rarityColor">
        <image-container [imageUrlId]="data.itemData.iconUrl"></image-container>
    </snake-border-card>
    <section>
        <ng-container *ngFor="let property of propertiesToShow">
            <div *ngIf="property == 'price'; else rarity" class="propertyWrapper">
                <div>{{ "ITEM." + property | uppercase | translate }}:</div>
                <div textColor>{{ data.itemData[property] | currency }}</div>
            </div>
            <ng-template #rarity>
                <div *ngIf="property == 'rarity'; else allProperties" class="propertyWrapper">
                    <div class="propertyName">{{ "ITEM." + property | uppercase | translate }}:</div>
                    <div class="propertyValue" [textColor]="'#' + data.itemData.rarityColor">
                        {{ data.itemData[property] | titlecase }}
                    </div>
                </div>
            </ng-template>
            <ng-template #allProperties>
                <div class="propertyWrapper">
                    <div class="propertyName">{{ "ITEM." + property | uppercase | translate }}:</div>
                    <div class="propertyValue">{{ data.itemData[property] | titlecase }}</div>
                </div>
            </ng-template>
        </ng-container>
    </section>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <button mat-raised-button
        class="closeButton"
        (click)="buttonCloseClickHandler()">
        {{ "CLOSE" | translate }}
    </button>
    <button mat-raised-button
        class="sellButton"
        color="primary"
        *ngIf="showSellButton"
        (click)="buttonSellClickHandler()">
        {{ "SELL" | translate }}
    </button>
</div>