<h1 mat-dialog-title>Congratulations!</h1>
<div mat-dialog-content class="matDialogContent">
    <p>You received new item!</p>
    <snake-border-card [themeColor]="'#' + data.itemData.rarityColor">
        <image-container [imageUrlId]="data.itemData.iconUrl"></image-container>
    </snake-border-card>
    <section>
        <ng-container *ngFor="let property of propertiesToShow">
            <div *ngIf="property == 'price'; else rarity" class="propertyWrapper">
                <div>{{ property | titlecase }}</div>
                <div textColor>{{ data.itemData[property] | currency }}</div>
            </div>
            <ng-template #rarity>
                <div *ngIf="property == 'rarity'; else allProperties" class="propertyWrapper">
                    <div class="propertyName">{{ property | titlecase }}:</div>
                    <div class="propertyValue" [textColor]="'#' + data.itemData.rarityColor">{{ data.itemData[property] }}</div>
                </div>
            </ng-template>
            <ng-template #allProperties>
                <div class="propertyWrapper">
                    <div class="propertyName">{{ property | titlecase }}:</div>
                    <div class="propertyValue">{{ data.itemData[property] }}</div>
                </div>
            </ng-template>
        </ng-container>
    </section>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <button mat-raised-button (click)="buttonCloseClickHandler()">Close</button>
    <button mat-raised-button color="primary" *ngIf="showSellButton" (click)="buttonSellClickHandler()">Sell</button>
</div>