.userButton {
    width: 100%;
    padding-right: 7px;
}

mat-divider.userMenuDivider {
    width: 80%;
}

.darkModeSelection {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.languageSelection {
    width: 100%;
    padding: 0 16px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;

    .flagImages {
        padding: 2px 0;
    }

    .flagImages, mat-radio-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        width: 20px;
        height: 15px;
    }

    mat-radio-button:last-of-type {
        margin-top: 5px;
    }

    mat-radio-button ::ng-deep label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
}