<button mat-stroked-button class="userButton"
    [matMenuTriggerFor]="userMenu"
    (menuOpened)="menuEventHandler(true)"
    (menuClosed)="menuEventHandler(false)">
    {{ currentUsername }}
    <mat-icon [@menuOpened]="isMenuOpened ? 'opened' : 'closed'">keyboard_arrow_down</mat-icon>
</button>
<mat-menu #userMenu class="userMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    <mat-divider class="userMenuDivider"></mat-divider>
    <button mat-menu-item (click)="logOutButtonHandler()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
    </button>
</mat-menu>