<button mat-stroked-button class="userButton"
    [matMenuTriggerFor]="userMenu"
    (menuOpened)="menuEventHandler(true)"
    (menuClosed)="menuEventHandler(false)">
    {{ userData.username }}
    <mat-icon [@menuOpened]="isMenuOpened ? 'opened' : 'closed'">keyboard_arrow_down</mat-icon>
</button>
<mat-menu #userMenu class="userMenu">
    <div class="languageSelection" (click)="$event.stopPropagation();">
        <div class="flagImages">
            <img src="../../../assets/images/usa_flag.png"/>
            <img src="../../../assets/images/poland_flag.png"/>
        </div>
        <mat-radio-group [formControl]="languageControl" (change)="languageChangedHandler()">
            <mat-radio-button value="en"></mat-radio-button>
            <mat-radio-button value="pl"></mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-divider class="userMenuDivider topDivider"></mat-divider>
    
    <div class="darkModeSelection" (click)="$event.stopPropagation();">
        <mat-icon>dark_mode</mat-icon>
        <span><mat-slide-toggle [formControl]="darkThemeControl" (change)="themeChangedHandler()"></mat-slide-toggle></span>
    </div>

    <mat-divider class="userMenuDivider"></mat-divider>

    <button mat-menu-item (click)="logOutButtonHandler()">
        <mat-icon>logout</mat-icon>
        <span>{{ "USER_MENU.LOG_OUT" | translate }}</span>
    </button>
</mat-menu>