.caseConsistsOf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.contentItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        margin: 5px;
        border: 1px solid var(--border);
        border-radius: 5px;

        image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.29);
            -moz-box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.29);
            box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.29);
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 5px;
            border-top: 1px solid var(--border);
            border-radius: 0 0 5px 5px;
        }
    }
}

.bottomDivider {
    margin-top: 15px;
}

.dialogActions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogContent {
    max-height: 68vh;
}