:root {
    --app-primary: #E91E63;
    --app-accent: #E91E63;
    --app-warn: #E91E63;
    --app-background-primary: #303030;
    --app-background-secondary: #424242;
    --border: #313131;
    --cash: #00e200;
}


@import "~@angular/material/theming";
@include mat-core();

$app-primary: mat-palette($mat-pink);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-pink);

$app-theme: mat-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
  )
));

@include angular-material-theme($app-theme);