<section>
    <mat-paginator
        [length]="querySize"
        [pageSize]="currentPageSize"
        [pageSizeOptions]="[5, 25, 50]"
        [pageIndex]="currentPageIndex"
        (page)="paginatorChangedHandler($event)"
        [showFirstLastButtons]="true">
    </mat-paginator>
</section>
<section class="itemsListWrapper">
    <div class="itemsWrapper">
        <ng-container *ngFor="let item of items">
            <item
                [data]="item"
                [showBuyButton]="showBuyButton"
                [showSellButton]="showSellButton"
                [showOpenButton]="showOpenButton"
                (buyButtonClicked)="buyButtonHandler($event)"
                (sellButtonClicked)="sellButtonHandler($event)"
                (openButtonClicked)="openButtonHandler($event)">
            </item>
        </ng-container>
    </div>
    <div class="noItemsFound" *ngIf="items.length === 0">
        <mat-icon>search</mat-icon>
        <p>No items found...</p>
    </div>
</section>
<section>
    <mat-paginator
        [length]="querySize"
        [pageSize]="currentPageSize"
        [pageSizeOptions]="[5, 25, 50]"
        [pageIndex]="currentPageIndex"
        (page)="paginatorChangedHandler($event)"
        [showFirstLastButtons]="true">
    </mat-paginator>
</section>
