:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.itemsListWrapper {
    margin: 50px;
}

.itemsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    justify-content: center;
    grid-gap: 50px;
}

.noItemsFound {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-icon {
        font-size: 150px;
        width: unset;
        height: unset;
    }

    p {
        font-size: 24px;
    }
}

mat-paginator {
    width: 100%;
}