<section class="itemsListWrapper">
    <div class="spinnerWrapper" *ngIf="itemsLoading"><mat-spinner></mat-spinner></div>
    <div class="itemsWrapper" *ngIf="!itemsLoading">
        <ng-container *ngFor="let item of items">
            <item
                @itemAddRemove
                [data]="item"
                [showBuyButton]="showBuyButton"
                [showSellButton]="showSellButton"
                [showOpenButton]="showOpenButton"
                (buyButtonClicked)="buyButtonHandler($event)"
                (sellButtonClicked)="sellButtonHandler($event)"
                (openButtonClicked)="openButtonHandler($event)">
            </item>
        </ng-container>
    </div>
    <div class="noItemsFound" *ngIf="!itemsLoading && items.length === 0">
        <mat-icon>search</mat-icon>
        <p>No items found...</p>
    </div>
</section>
<section class="itemListFooter" *ngIf="showPaginator">
    <mat-paginator
        [length]="querySize"
        [pageSize]="currentPageSize"
        [pageSizeOptions]="[5, 25, 50]"
        [pageIndex]="currentPageIndex"
        (page)="paginatorChangedHandler($event)"
        [showFirstLastButtons]="true"
        [hidePageSize]="hidePageSize"
        [disabled]="paginatorDisabled">
    </mat-paginator>
</section>
