:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;

    item {
        display: flex;
        width: 325px;
        margin: 25px;
    }
}

mat-paginator {
    width: 100%;
}