:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

section {
    display: flex;
}

.itemsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    justify-content: center;
    grid-gap: 50px;
    margin: 50px;
}

mat-paginator {
    width: 100%;
}